:root {
  --sans: "Montserrat", sans-serif;

  --color-black: #000;
  --color-white: #fff;
  --gradient-horz: linear-gradient(90deg, #b0eae3 0%, #c9a1c6 100%);

  --contain-pad: 2rem;
  --contain-max: 100%;
  --section-pad: 2rem;
  --section-min-height: 0;

  --logo-max: 4rem;
  --site-header-height: 6rem;

  --body-font: 1rem / 1.25 var(--sans);
  --body-weight: 600;
  --body-weight-bold: 700;
  --body-letter-spacing: 0;
  --body-margin: 1rem;

  --title-font: 2rem / 1.25 var(--sans);
  --title-weight: 700;
  --title-letter-spacing: -0.015em;
  --title-margin: 1rem;

  --h2-font: 1rem / 1.25 var(--sans);
  --h2-weight: 700;
  --h2-letter-spacing: -0.015em;
  --h2-margin: 1rem;

  --h3-font: 1rem / 1.25 var(--sans);
  --h3-weight: 700;
  --h3-letter-spacing: -0.015em;
  --h3-margin: 1rem;
}

@media (min-width: 35em) {
  :root {
    --site-header-height: 4rem;
  }
}

@media (min-width: 46em) {
  :root {
    --contain-pad: 2.9rem;
    --contain-max: 83rem;
    --section-pad: 2rem;
    --section-min-height: 45vh;
    --logo-max: 8.125rem;
    --site-header-height: 10rem;
    --body-font: 1rem / 1.25 var(--sans);
    --body-weight: 500;
    --body-letter-spacing: 0;
    --body-margin: 1rem;
    --title-font: 2.7rem / 1.065 var(--sans);
    --title-weight: 800;
    --title-letter-spacing: -0.045em;
    --title-margin: 2rem;
    --h2-font: 2rem / 1.15 var(--sans);
    --h2-weight: 700;
    --h2-letter-spacing: -0.025em;
    --h2-margin: 1rem;
    --h3-font: 1.25rem / 1.15 var(--sans);
    --h3-weight: 800;
    --h3-letter-spacing: -0.025em;
    --h3-margin: 1rem;
  }
}

@media (min-width: 78rem) {
  :root {
    --section-min-height: 70vh;
  }
}

@media (min-width: 94rem) {
  :root {
    --section-min-height: 90vh;
  }
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-optical-sizing: auto;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

button {
  appearance: none;
  border: none;
  background: none;
  border: none;
  cursor: pointer;
}

a {
  color: inherit;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}
@media (min-width: 46em) {
  html {
    font-size: 1.175vw;
  }
}
@media (min-width: 64em) {
  html {
    font-size: 1.15vw;
  }
}

@media (min-width: 76em) {
  html {
    font-size: 100%;
  }
}

body {
  scroll-behavior: smooth;
  font: var(--body-font);
  font-weight: var(--body-weight);
  letter-spacing: var(--body-letter-spacing);
}

.site {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

.site-header {
  height: var(--site-header-height);
  display: flex;
  flex-direction: column;
  justify-content: center;
  --site-menu-color: var(--color-black);
  background: var(--color-white);
}
.site-header,
.site-header * {
  transition: all 0.3s;
}

@media (min-width: 46em) {
  .site-header {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    /* mask-image: linear-gradient(to top, transparent 0%, black 1rem); */
  }
}

.site-header--theme-black {
  --site-menu-color: var(--color-white);
  background: var(--color-black);
}
.site-header--theme-black img {
  filter: invert(1);
}

.site-header--theme-gradient {
  --site-menu-color: var(--color-black);
  background: var(--gradient-horz);
}

.site-header .contain {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media (min-width: 35em) {
  .site-header .contain {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
}

.site-logo {
  display: block;
  max-width: var(--logo-max);
}

.site-menu {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
}

@media (min-width: 35em) {
  .site-menu {
    gap: 1.9rem;
    justify-content: center;
  }
}

.site-menu a {
  text-decoration: none;
  color: var(--site-menu-color);
  text-decoration: none;
  font-size: 1.025rem;
  font-weight: 700;
  text-transform: uppercase;
}

.contain {
  width: 100%;
  margin: 0 auto;
  padding: 0 var(--contain-pad, 1rem);
  max-width: var(--contain-max, 40rem);
}
.contain--lg {
  max-width: 87rem;
}

.contain--md {
  max-width: 66rem;
}

.theme-black {
  --theme-color: var(--color-white);
  --theme-background: var(--color-black);
}
.theme-white {
  --theme-color: var(--color-black);
  --theme-background: var(--color-white);
}
.theme-gradient {
  --theme-color: var(--color-black);
  --theme-background: var(--gradient-horz);
}

.section {
  position: relative;
  z-index: 1;
  padding: var(--site-header-height, 1rem) 0;
  min-height: var(--section-min-height, 0);
  color: var(--theme-color);
  background: var(--theme-background);
  display: grid;
  align-content: center;
  scroll-snap-align: start;
  overflow: hidden;
}

.section__body h1,
.section__body h2 {
  font: var(--title-font);
  font-weight: var(--title-weight);
  letter-spacing: var(--title-letter-spacing);
  text-transform: uppercase;
  margin-bottom: var(--title-margin);
  max-width: 14em;
  text-wrap: balance;
}

.section__body p {
  margin-bottom: var(--body-margin);
  font-weight: var(--body-weight-bold);
  max-width: 20em;
}

.section .contain {
  display: grid;
  gap: 2rem;
}

@media (min-width: 64em) {
  .home .contain .image-left .contain,
  .image-right .contain {
    gap: 0;
    display: grid;
  }
  .image-right .contain .section__main {
    order: -1;
  }
  /* TEST */
  .section__main {
    /* background: lightblue; */
  }
  .section__media {
    /* background: lightgreen; */
  }
  .section__body h1,
  h2 {
    /* background: lightcoral; */
  }
  .large .section__body h1,
  .large .section__body h2 {
    font-size: 2.9rem !important;
    /* color: purple; */
  }

  /* Home */
  .home {
    padding: 15% 0 8%;
  }
  .home .contain {
    grid-template-columns: 1fr 2.1fr;
  }
  .home .section__main {
    padding-right: 15%;
  }
  .home .section__media {
    padding-right: 5%;
  }

  /* Contact */
  .contact {
    padding: 15% 0 8%;
  }
  .contact .contain {
    grid-template-columns: 1fr 2.3fr;
  }
  .contact .section__main {
    padding-right: 15%;
  }
  .contact .section__media {
    padding-right: 5%;
  }

  /* Image Left */
  .image-left.small .contain {
    grid-template-columns: 1fr 1.4fr;
  }
  .image-left.small .section__main {
    padding-left: 30%;
  }
  .image-left.small .section__media {
    padding-left: 31%;
  }
  .image-left.medium .contain {
    grid-template-columns: 1fr 1.4fr;
  }
  .image-left.medium .section__main {
    padding-left: 32%;
  }
  .image-left.medium .section__media {
    padding-left: 31%;
  }
  .image-left.large .contain {
    grid-template-columns: 1fr 1fr;
  }
  .image-left.large .section__main {
    padding-left: 22%;
    padding-right: 9%;
  }
  .image-left.large .section__media {
    padding-left: 26.5%;
    padding-right: 0.25%;
  }
  .image-left.large .section__cta {
    margin-bottom: 25%;
  }

  /* Image Right */
  .image-right.small .contain {
    grid-template-columns: 1.5fr 1fr;
  }
  .image-right.small .section__main {
    padding-left: 22%;
    padding-right: 28%;
  }
  .image-right.small .section__media {
    padding-right: 31%;
  }
  .image-right.medium .contain {
    grid-template-columns: 1fr 1.4fr;
  }
  .image-right.medium .section__main {
    padding-right: 22%;
  }
  .image-right.medium .section__media {
    padding-right: 52%;
  }
  .image-right.large .contain {
    grid-template-columns: 1fr 1.27fr;
  }
  .image-right.large .section__main {
    padding-right: 22%;
  }
  .image-right.large .section__media {
    padding-right: 37%;
  }
  .image-right.large .section__cta {
    margin-bottom: 25%;
  }
}

.section__main {
  display: grid;
  grid-template-rows: auto 1fr;
}

.section__cta {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 7rem;
}
.section#home .section__cta {
  min-height: 5rem;
}

.button-row {
  list-style-type: none;
  margin: 0.35rem 0 0;
  padding: 0;
  gap: 0.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.button-row a {
  width: 100%;
  display: block;
  text-align: center;
}

.section .section__cta.no-decoration:before,
.section .section__cta.no-decoration:after,
.section#home .section__cta:before,
.section#home .section__cta:after {
  display: none;
}

.section__cta:before {
  content: "";
  position: absolute;
  left: var(--body-margin);
  top: 0;
  bottom: 4rem;
  width: 1px;
  transform: translate(-50%, 0);
  background: var(--theme-color);
}
.section__cta:after {
  content: "";
  position: absolute;
  left: var(--body-margin);
  bottom: 4rem;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  transform: translate(-50%, 50%);
  background: var(--theme-color);
}

.section__title {
  position: relative;
  font: var(--h2-font);
  font-weight: var(--h2-weight);
  letter-spacing: var(--h2-letter-spacing);
  text-transform: uppercase;
  margin-bottom: 0rem;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 2rem;
}
.section__title:after {
  content: "";
  display: block;
  height: 1px;
  background: var(--theme-color);
  align-self: center;
}
.section__title:before {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  transform: translate(0, -50%);
  background: var(--theme-color);
}

.section__title--large {
  margin-bottom: 2rem;
}
@media (min-width: 64em) {
  .section__title--large {
    font-size: 3rem;
    margin-bottom: 4rem;
  }
}

/* Sections */
@media (min-width: 46em) {
  .section#home .section__body {
    padding-top: 0;
  }
}

.cards-wrapper {
  margin: 0 auto;
  width: calc(100vw - 5rem);
  max-width: 70rem;
}

.slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 1;
  width: 3.5rem;
  height: 3.5rem;
  background-image: url("images/ui-box-arrow.svg");
  background-size: 100% auto;
  background-position: center;
  transition: all 0.3s;
  overflow: hidden;
  text-indent: 1000vw;
}
.slick-arrow:hover,
.slick-arrow:focus-visible {
  filter: invert(1);
  background-color: white;
  background-size: 110% auto;
}

.slick-prev {
  left: -3.5rem;
}
.slick-next {
  right: -3.5rem;
  transform: rotate(180deg);
}

.card {
  margin: 0 auto;
  display: grid;
  gap: 16%;
  grid-template-columns: auto 10rem;
  width: 22rem;
  padding: 10% 0 0 0;
}
@media (min-width: 36em) {
  .card {
    width: 26rem;
  }
}

.card__body {
  padding-top: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
}
@media (min-width: 46em) {
  .card__body {
    padding-top: 35%;
  }
}
@media (min-width: 64em) {
  .card__body {
    padding-bottom: 0;
  }
}

.card__body h3 {
  font: var(--h3-font);
  font-weight: var(--h3-weight);
  letter-spacing: var(--h3-letter-spacing);
  text-transform: uppercase;
  margin-bottom: var(--h3-margin);
  max-width: 12em;
}

.card__media img {
  width: 100%;
  max-width: 10rem;
}

/* Team */
.team-members {
  display: grid;
  gap: 2rem 10%;
  list-style: none;
  padding: 0;
  margin: 0;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
}

.team-member {
  position: relative;
  padding: 2rem;
  display: grid;
  gap: 1.75rem;
}
.team-member__body {
  display: grid;
  gap: 1rem;
}
.team-member__body blockquote {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.1;
}
.team-member__body p {
  font-size: 1rem;
}
.team-member__body b,
.team-member__body strong {
  font-weight: 700;
}

.team-member * {
  position: relative;
  z-index: 3;
}

.team-member:after {
  content: "";
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  background: url("images/team-frame.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
  right: 0;
  width: 100%;
  aspect-ratio: 1/1;
}
.team-member:before {
  content: "";
  position: absolute;
  z-index: 2;
  right: 0;
  top: 0;
  transform: translate(40%, -40%);
  background: transparent;
  background-size: 100% auto;
  background-repeat: no-repeat;
  right: 0;
  width: 30%;
  aspect-ratio: 1/1;
}
.team-member:nth-child(3):before,
.team-member:nth-child(4n + 1):before {
  background-image: url("images/team-square.png");
}
.team-member:nth-child(1):before,
.team-member:nth-child(6n + 1):before {
  background-image: url("images/team-circle.png");
}

.button {
  appearance: none;
  color: inherit;
  text-decoration: none;
  background: none;
  padding: 0.65rem 1.8rem;
  text-transform: uppercase;
  border: 2px solid;
  border-radius: 10000vw;
  display: inline-block;
  width: max-content;
  font-size: 0.8rem;
  font-weight: 700;
}

.theme-black .button {
  color: var(--color-white);
  background: var(--color-black);
}
.theme-black .button:hover {
  color: var(--color-black);
  background: var(--color-white);
}

.theme-white .button {
  color: var(--color-black);
  background: var(--color-white);
}
.theme-white .button:hover {
  color: var(--color-white);
  background: var(--color-black);
}

.theme-gradient .button {
  color: var(--color-black);
}
.theme-gradient .button:hover {
  color: var(--color-white);
  background: var(--color-black);
  border-color: var(--color-black);
}

div[class*="image-"] {
  position: relative;
}
div[class*="image-"] img {
  position: absolute;
  width: auto;
  /* opacity: 0.5; Testing */
  max-width: 1000%;
  object-fit: contain;
}

div[class*=".aspect-"] {
  width: 100%;
}
.aspect-76-112 {
  aspect-ratio: 76/112;
  /* background: lightblue; */
}
.aspect-321-187 {
  aspect-ratio: 321/187;
  /* background: lightblue; */
}

.image-2 img {
  height: 110%;
  top: auto;
  bottom: 0;
  left: -6%;
}

.image-5 img {
  height: 108%;
  top: auto;
  bottom: -8%;
  left: -37%;
}

.image-6 img {
  height: 108%;
  top: auto;
  bottom: 0;
  right: -12%;
}

.image-7 img {
  height: 100%;
  top: auto;
  bottom: 0;
  left: -12%;
}

.image-8 img {
  height: 104%;
  top: 0;
  bottom: 0;
  left: -14%;
}

.image-9 img {
  height: 118%;
  top: auto;
  bottom: -6%;
  right: -42%;
}

.image-10 img {
  height: 106%;
  top: 0;
  bottom: 0;
  left: -46%;
}

.image-11 img {
  height: 111%;
  top: auto;
  bottom: -4%;
  right: -42%;
}

.image-12 img {
  height: 104%;
  top: 0;
  bottom: 0;
  left: -30%;
}

.image-13 img {
  height: 109%;
  top: auto;
  bottom: -1%;
  right: -82%;
}

.image-14 img {
  height: 109%;
  top: -9%;
  left: -19%;
}

.image-card-1 img {
  height: 100%;
  top: auto;
  bottom: 0%;
  left: -29%;
}
.image-card-2 img {
  height: 111%;
  top: auto;
  bottom: 0%;
  left: -6%;
}
.image-card-3 img {
  height: 99%;
  top: auto;
  bottom: 0%;
  left: -6%;
}
.image-card-4 img {
  height: 108%;
  top: auto;
  bottom: 0;
  left: 0;
}
